body {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#main-container {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 10px;
}

#display-content {
    height: 50vh;
    width: 50vw;
}

#fretboard {
    display: flex;
}

.frets {
    display: flex;
    flex-direction: column;
}

#note-container {
    height: 30px;
    text-align: right;
}

.notes {
    width: 40px;
    background-color: rgba(255, 255, 255, 0.547);
}

#open-fret, #first-fret, #second-fret, #third-fret {
    width: 6vw;
}

#third-fret {
    background-image: url('images/guitar-inlay.png');
    background-repeat: no-repeat;
    background-position: center;
}

#fourth-fret, #fifth-fret, #sixth-fret {
    width: 5vw;
}

#fifth-fret {
    background-image: url('images/guitar-inlay.png');
    background-repeat: no-repeat;
    background-position: center;
}

#seventh-fret, #eighth-fret, #ninth-fret {
    width: 4vw;
}

#seventh-fret {
    background-image: url('images/guitar-inlay.png');
    background-repeat: no-repeat;
    background-position: center;
}

#ninth-fret {
    background-image: url('images/guitar-inlay.png');
    background-repeat: no-repeat;
    background-position: center;
}

#tenth-fret, #eleventh-fret, #twelfth-fret {
    width: 3vw;
}

#twelfth-fret {
    background-image: url('images/guitar-inlay-double.png');
    background-repeat: no-repeat;
    background-position: center;
}