@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
    --main-box-light: rgba(17, 12, 46, 0.15);
    --main-box-dark: rgba(255, 255, 255, 0.376);
}

body {
    background: rgb(247, 247, 247);
    background-image: url('images/background-test.jpg');
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin: 0 auto;
}

#acoustic {
    position: absolute;
    width: 80px;
    left: 19%;
    top: 5%;
}

#classical {
    position: absolute;
    width: 80px;
    left: 19%;
    top: 10%;
}

#muted {
    position: absolute;
    width: 80px;
    left: 19%;
    top: 15%;
}

#clean {
    position: absolute;
    width: 80px;
    left: 19%;
    top: 20%;
}

#acoustic:hover, #classical:hover, #muted:hover, #clean:hover {
    left: 19.5%
}

#main-container {
    background-color: white;
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(17, 12, 46, 0.358) 0px 48px 100px 0px;
    padding: 10px;
}

#display-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    border-radius: 10px;
    box-shadow: var(--main-box-light) 0px 25px 20px -20px;
}

#display-content > img {
    height: 40vh;
}

#player-stats {
    text-align: center;
}

#comp-health {
    background: linear-gradient(90deg, rgba(255,164,0,1) 0%, rgba(255,0,0,1) 100%, rgba(60,0,0,1) 100%);
    border-radius: 0 0 5px 5px;
    width: 50vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Silkscreen', sans-serif;
}

#player-health {
    background: linear-gradient(90deg, rgba(0,196,255,1) 0%, rgba(100,0,255,1) 100%, rgba(0,0,60,1) 100%);
    border-radius: 0 0 5px 5px;
    height: 20px;
    width: 50vw;
    color: white;
    font-family: 'Silkscreen', sans-serif;
}

.main-btn-style {
    background-color: rgb(227, 227, 227);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
}

.clicked {
    background-color: #333333;
    color: white;
}

#submit {
    background-color: white;
}

#comp-choice-btn {
    height: 13vh;
    width: 40vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    top: 25%;
    left: 30%;
}

#comp-choice-btn:hover {
    cursor: pointer;
    animation: string-pulse 1000ms infinite;
}

#fretboard {
    display: flex;
    background-color: rgb(90, 90, 90);
}

.frets {
    display: flex;
    flex-direction: column;
    border-right: solid rgb(197, 197, 197) 5px;
}

.note-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 30px;
}

.notes {
    font-size: 14px;
    width: 75%;
    background-color: rgba(215, 215, 215, 0.547);
    border: none;
}

.notes:hover {
    cursor: pointer;
    background-color: rgba(50, 50, 50, 0.547);
    color: white;
    border-radius: 5px;
    transition: all 500ms;
}

.tut-modal {
    background-color: rgb(20, 76, 205);
    color: white;
    padding: 10px;
    height: 10vh;
    width: 20vw;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-template {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.modal-box {
    visibility: hidden;
    font-size: 36px;
    background-color: rgb(248, 248, 248);
    height: 20vh;
    width: 35vw;
    border-radius: 20px;
    margin: 150px auto;
    box-shadow: var(--main-box-light) 0px 4px 12px;
    padding: 1%;
    line-height: 120%;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Great Vibes', sans-serif;
    background-image: url('images/modal-bg.png');
    background-position: center;
    background-repeat: no-repeat;
}

#comp-health-tut {
    visibility: hidden;
    position: absolute;
    top: 4%;
    left: 30%;
}

#player-health-tut {
    visibility: hidden;
    position: absolute;
    top: 75%;
    right: 23%;
}

#fretboard-tut {
    visibility: hidden;
    position: absolute;
    top: 40%;
    right: 18%;
}

#comp-note-tut {
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 20%;
}

/* Indivual frets styling below */

#open-fret {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
	align-items: center;
    border: none;
    border-right: solid black 15px;
}

#open-fret > .note-container {
    width: 75%;
}

#open-fret, #first-fret, #second-fret, #third-fret {
    width: 6vw;
}

#third-fret {
    background-image: url('images/guitar-inlay.png');
    background-repeat: no-repeat;
    background-position: center;
}

#fourth-fret, #fifth-fret, #sixth-fret {
    width: 5vw;
}

#fifth-fret {
    background-image: url('images/guitar-inlay.png');
    background-repeat: no-repeat;
    background-position: center;
}

#seventh-fret, #eighth-fret, #ninth-fret {
    width: 4vw;
}

#seventh-fret {
    background-image: url('images/guitar-inlay.png');
    background-repeat: no-repeat;
    background-position: center;
}

#ninth-fret {
    background-image: url('images/guitar-inlay.png');
    background-repeat: no-repeat;
    background-position: center;
}

#tenth-fret, #eleventh-fret, #twelfth-fret {
    width: 3vw;
}

#twelfth-fret {
    background-image: url('images/guitar-inlay-double.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* Some keyframes */

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(0, 225, 255);
    }
    50% {
        box-shadow: 0 0 0 20px rgba(0, 85, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 85, 255, 0);
    }
}

@keyframes string-pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(0, 225, 255), 0 0 0 0 rgb(0, 225, 255);
    }
    50% {
        box-shadow: 0 20px 0 0 rgba(0, 85, 255, 0), 0 -20px 0 0 rgba(0, 85, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 85, 255, 0), 0 0 0 0 rgba(0, 85, 255, 0);
    }
}